  <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="static/css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb">
    <link href="static/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <link href="static/css/coloring.css" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="static/css/colors/scheme-01.css" rel="stylesheet" type="text/css">


   <script src="static/js/plugins.js"></script>
    <script src="static/js/designesia.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgiM7ogCAA2Y5pgSk2KXZfxF5S_1jsptA&amp;libraries=places&amp;callback=initPlaces" async="" defer=""></script>
    <script src="static/js/validation-contact.js"></script>
      <script src="js/validation-booking.js"></script>
