 <header class="transparent scroll-light has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+208 333 9296</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>contact@rentaly.com</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Mon - Fri 08.00 - 18.00</a></div>
                        </div>
                    </div>

                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="index.html">
                                            <img class="logo-1" src="static/images/logo-light.png" alt="">
                                            <img class="logo-2" src="static/images/logo.png" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="/">Home</a>
                                    </li>
                                     {% if request.session.log_id %}
                                      <li><a class="menu-item" href="/cars">Garages</a>
<!--                                        <ul>-->
<!--                                            <li><a class="menu-item" href="cars.html">Cars List 1</a></li>-->
<!--                                            <li><a class="menu-item" href="02_dark-cars.html">Cars List 1 Dark</a></li>-->
<!--                                            <li><a class="menu-item" href="cars-list.html">Cars List 2</a></li>-->
<!--                                            <li><a class="menu-item" href="02_dark-cars-list.html">Cars List 2 Dark</a></li>-->
<!--                                        </ul>-->
                                    </li>
                                    <li><a class="menu-item" href="/quickbooking">Give Feedback</a></li>
                                    <li><a class="menu-item" href="/quickbooking">Do Complaints</a>

                                    </li>
                                    <li><a class="menu-item" href="/accountdashboard">My Account</a>
                                        <ul>
                                            <li><a class="menu-item" href="/accountdashboard">Dashboard</a></li>
                                            <li><a class="menu-item" href="/accountprofile">My Profile</a></li>
                                            <li><a class="menu-item" href="/accountbooking">My Orders</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                       <li>
                                           <a class="menu-item" href="/about">About Us</a>
                                       </li>
                                       <li>
                                           <a class="menu-item" href="/contact">Contact</a>
                                       </li>

                             </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                       {% if request.session.log_id %}
                                          <a href="/logout" class="btn-main">Logout</a>
                                          <span id="menu-btn">Welcome,{{ request.session.log_name }}</span>
                                       {% else %}
                                          <a href="/login" class="btn-main">Sign In</a>
                                          <a href="/register" class="btn-main">Register</a>

                                       {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>